Source: brain-config
Section: utils
Priority: optional
Maintainer: Brain Hackers <dummy@example.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 4.3.0
Vcs-Git: git@github.com:brain-hackers/brain-config.git
Vcs-Browser: https://github.com/brain-hackers/brain-config

Package: brain-config
Architecture: all
Depends: ${misc:Depends}, whiptail, parted, lua5.1, alsa-utils, psmisc, initramfs-tools
Recommends: triggerhappy, iw
Description: SHARP Brain configuration tool
